:root {
	--primary: #1e4b96;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #000;
	font-family: Arial, sans-serif;
}

h3 {
	color: var(--primary);
	user-select: none;
	font-weight: normal;
	font-style: italic;
}

div {margin-bottom: 25px}

input {
	width: 150px;
	margin: 0 5px;
	padding-bottom: 3px;
	outline: none;
	border: none;
	border-bottom: 2px solid var(--primary);
	background-color: unset;
	color: var(--primary);
	text-align: center;
	font-size: 16px;
	font-family: inherit;
}

canvas {border: 3px solid var(--primary)}