:root {
	--primary: #7f5056;
	--secondary: #11151d;
	--tertiary: #374158;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: var(--secondary);
}

canvas {
	border: 1px solid var(--tertiary);
}